* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;
  font-family: "Kanit", serif
}

.heading-container h1{
  align-items: center;
  justify-content: center;
  color: #007DFE;
  text-align: center;
  font-family: "Kanit", serif;
  font-size: 70px;
  font-weight: 600;
  padding: 0px 30px;
  margin-bottom: 50px;
}

.signup-heading{
  align-items: center;
  justify-content: center;
  color: #007DFE;
  text-align: center;
  font-family: "Kanit", serif;
  font-size: 65px;
  font-weight: 500;
  padding: 0px 30px;
  margin-bottom: 50px;
}


.login-container{
  border: #007DFE;
  border-radius: 12px;
}
.grid-container {
  display: flex;
  justify-content: space-evenly;
  border: #007DFE;

}
.wrapper{
  justify-content: center;
  margin: 25px;
  padding:50px;
  border-radius: 18px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.infoBox{
  display: flex;
  justify-content: center;
  margin: 25px;
  padding:50px;
  border-radius: 18px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.btn-btn-primary{
  color:#fff;
  padding:12px;
  margin:10px auto;
  margin-bottom: 15px;
  width:190px;
  border-radius: 6px;
  border:0;
  display:block;
  background: #007DFE;
  transition: all 0.2s ease;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.box1{
  background-color:#AACBFF;
  padding: 35px;
  border-radius: 18px;
}

input{
background-color: #fff;
padding:8px 22px;
border-radius: 9px;
margin-bottom: 12px;
border: 0;
box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}
.searchUserInput{
  margin-right: 25px;
}

img{
  width:400px;
  border-radius: 16px;
}

#submit-btn{
  color:#fff;
  padding:12px;
  margin:10px auto;
  width:200px;
  border-radius: 6px;
  border:0;
  display:block;
  background: #007DFE;
  transition: all 0.2s ease;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

button:active{
  transform: scale(0.96);
}

.grid{
  display:flex;
  justify-content: space-around;
}

.container{
background-color: #AACBFF;
text-align: center;
}

.signup-box{
  align-items: center;
  justify-content: center;
}

/*.hero{
  width:50%;
  height:100vh;
  background:#d1d1d1;
  display:flex;
  align-items:center;
  justify-content: center;
}*/

.card{
  width:150px;
  height:25vh;
  margin:20px;
  background:#fff;
  padding:40px;
  border-radius:15px;
  text-align:center;
  color:#333;
}
.card img{
  width:140px;
  border-radius:50%;
  margin-top:40px;
  margin-bottom:30px;
}
#input-file{
  display:none;
}
#update-img,
.searchUser{
  background-color: #007DFE;
  width:150px;
  color:#fff;
  padding:12px;
  margin:10px auto;
  border-radius:5px;
  cursor:pointer;
}

@media(max-width:600px){
  img{
    display:none;
  }
}
